---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---
<!-- {% include base_path %}

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %} -->

<tr>
  <td style="padding:20px;width:25%;vertical-align:middle">
    <img src="images/DeepCFL_preview.png" alt="clean-usnob" width="160" height="160">
  </td>
  <td width="75%" valign="middle">
     <a href="https://neurips.cc/virtual/2023/77562">
      <span class="papertitle">Learning Macro Variables with Auto-encoders
</span>
    </a>
    <br>
	<a href="https://www.dsridhar.com/">Dhanya Sridhar</a>,
    <a href="https://ericelmoznino.github.io/">Eric Elmoznino</a>,
    <a href="https://maitreyiswaroop.github.io/">Maitreyi Swaroop</a>
    <br>
	<em>NeurIPS 2023 Workshop on Causal Representation Learning<em>, 2023
    <br>
    <p></p>
    <p>
      Poster of our proposed framework DeepCFL: a simple self-supervised method that learns macro variables and their relations.
    </p>
  </td>
</tr> 