---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---
<!-- {% include base_path %}

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %} -->
<link rel="stylesheet" type="text/css" href="stylesheet.css">

<h2>Internships</h2>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
<tr>
  <td width="75%" valign="middle">
     <a href="https://neurips.cc/virtual/2023/77562">
      <span class="papertitle">Learning Macro Variables with Auto-encoders
</span>
    </a>
    <br>
	<a href="https://www.dsridhar.com/">Dhanya Sridhar</a>,
    <a href="https://ericelmoznino.github.io/">Eric Elmoznino</a>,
    <strong>Maitreyi Swaroop</strong>
    <br>
	<em>NeurIPS 2023 Workshop on Causal Representation Learning<em>, 2023
    <br>
    <p></p>
    <p>
      Poster of our proposed framework DeepCFL: a simple self-supervised method that learns macro variables and their relations.
      <a href="https://github.com/maitreyiswaroop/DeepCFL-Repo">Github repository</a> for our experiments using DeepCFL.     
    </p>
  </td>
</tr> 

<tr>
  <td width="75%" valign="middle">
     <a href="https://github.com/maitreyiswaroop/Threshold-Test-MPI/blob/main/">
      <span class="papertitle">Inferrings Groups and Thresholds
</span>
    </a>
    <br>
	<a href="https://people.mpi-sws.org/~manuelgr/">Manuel Gomez Rodriguez</a>,
    <a href="https://ninacobe.github.io/">Nina Corvelo Benz</a>,
    <strong>Maitreyi Swaroop</strong>
    <br>
      2022
    <br>
    <p></p>
    <p>
      <a href="https://github.com/maitreyiswaroop/Threshold-Test-MPI/blob/main/README.md">Github repository</a> for our experiments using proposed framework to infer groups and thresholds to determine discrimination.
    </p>
  </td>
</tr> 
</tbody>
</table>

<h2>Other Projects</h2>
For a brief overview of my projects, please see my <a href="https://maitreyiswaroop.github.io/files/Maitreyi_Swaroop_Resume.pdf">resume</a>.